fastapi==0.115.0
uvicorn[standard]==0.30.1
pillow==10.4.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
onnxruntime==1.19.2
easyocr==1.7.1
ultralytics==8.3.10
google-cloud-storage==2.18.2
google-cloud-firestore==2.16.0
pydantic==2.9.2
pydantic-core==2.23.4
